*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#1e1e2f;
    color:#f2f2f2;
}
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#141421;
}

.logo{
    font-size:26px;
    font-weight:bold;
    color:#ffb703;
}

nav a{
    margin-left:20px;
    text-decoration:none;
    color:#ddd;
}

nav a:hover{
    color:#ffb703;
}
.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-center h1{
    font-size:48px;
    margin-top:25px;
}

.hero-center p{
    margin:10px 0 25px;
    color:#bdbdbd;
}

.cta{
    padding:12px 30px;
    background:#ffb703;
    color:#000;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}
.abstract-avatar{
    position:relative;
    width:180px;
    height:180px;
    margin:auto;
}

.shape{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:30%;
}

.shape.one{
    background:#ff006e;
    transform:rotate(20deg);
}

.shape.two{
    background:#3a86ff;
    transform:rotate(-20deg);
}

.initials{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:56px;
    font-weight:bold;
    color:white;
}
section{
    padding:80px 60px;
    text-align:center;
}

.light{
    background:#f4f4f4;
    color:#222;
}

section h2{
    font-size:34px;
    margin-bottom:30px;
}
.skill-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skill-card{
    background:#2a2a40;
    padding:20px;
    border-radius:12px;
}
.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.project-card{
    background:white;
    color:#222;
    padding:25px;
    border-radius:14px;
}
.contact-box{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-box input,
.contact-box textarea{
    padding:12px;
    border-radius:8px;
    border:none;
}

.contact-box button{
    background:#ffb703;
    border:none;
    padding:12px;
    font-weight:bold;
    cursor:pointer;
}
footer{
    background:#141421;
    text-align:center;
    padding:15px;
    color:#aaa;
}
@media(max-width:768px){
    section{
        padding:60px 25px;
    }

    .hero-center h1{
        font-size:36px;
    }
}
